<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adv.Tools.RevitAddin.Properties.AppUI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Adv.Tools.RevitAddin.Properties.AppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adv.Tools.RevitAddin.Properties.AppUI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Adv.Tools.RevitAddin.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Adv.Tools.RevitAddin.Properties.AppStore" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Adv.Tools.RevitAddin.Properties.DataAccess.ProdDb"
            connectionString="Server=192.168.10.1;Port=3306;user id=Admin;password=QAZ56okm;CharSet=utf8;"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <applicationSettings>
        <Adv.Tools.RevitAddin.Properties.AppUI>
            <setting name="RibbonName" serializeAs="String">
                <value>AdvTools</value>
            </setting>
            <setting name="AdvTools" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Project Settings</string>
                        <string>Model Checker</string>
                        <string>Elemets Counter</string>
                        <string>ArcStr Correlator</string>
                        <string>Warning Scanner</string>
                        <string>Cloud Operations</string>
                        <string>Adv Automations</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PushButtonName" serializeAs="String">
                <value>TemplateButton
</value>
            </setting>
            <setting name="TemplateButtonIcon" serializeAs="String">
                <value>TemplateIcon</value>
            </setting>
        </Adv.Tools.RevitAddin.Properties.AppUI>
        <Adv.Tools.RevitAddin.Properties.AppStore>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://apps.exchange.autodesk.com/</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>webservices/checkentitlement</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>D8EF9571-6E04-4BAE-8ABA-B847117E6541</value>
            </setting>
            <setting name="GraceTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="AuthRequired" serializeAs="String">
                <value>False</value>
            </setting>
        </Adv.Tools.RevitAddin.Properties.AppStore>
    </applicationSettings>
    <userSettings>
        <Adv.Tools.RevitAddin.Properties.AppUI>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Adv.Tools.RevitAddin.Properties.AppUI>
        <Adv.Tools.RevitAddin.Properties.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>asdsd</value>
            </setting>
        </Adv.Tools.RevitAddin.Properties.Settings1>
        <Adv.Tools.RevitAddin.Properties.AppStore>
            <setting name="GraceDateTime" serializeAs="String">
                <value>07/09/2023 16:03:00</value>
            </setting>
        </Adv.Tools.RevitAddin.Properties.AppStore>
    </userSettings>
</configuration>