<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adv.Tools.DataAccess.Tests.xUnit.Properties.DataAccess" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Adv.Tools.DataAccess.Tests.xUnit.Properties.DataAccess.DevDb"
            connectionString="Server=localhost;Port=3306;user id=root;password=$QAZ56okm$;CharSet=utf8;" />
    </connectionStrings>
    <applicationSettings>
        <Adv.Tools.DataAccess.Tests.xUnit.Properties.DataAccess>
            <setting name="DatabaseName" serializeAs="String">
                <value>b908b0a4c8a1a457e97cfd4617c54301d</value>
            </setting>
        </Adv.Tools.DataAccess.Tests.xUnit.Properties.DataAccess>
    </applicationSettings>
</configuration>